Options -Indexes
RemoveHandler .php .php3 .php4 .php5 .php7 .phtml .phar
RemoveType .php .php3 .php4 .php5 .php7 .phtml .phar
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<FilesMatch "\.(php|php[0-9]?|phtml|phar)$">
    Require all denied
</FilesMatch>
